.container {
    margin: 50px 0;
    height: 100vh;
    margin: auto;
}


.container p {
    line-height: 2;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.laskutus-title {
    font-size: 20px;
}

.laskutus {
    position: relative;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    min-width: 320px;
    width: 50%;
    margin: auto;
    height: max-content;
    background-color: rgb(0,143,205, 1);
    padding: 50px;
    border-radius: 10px;
}

span {
    font-weight: 300;
    color: white;
}